a {
	@include unstyled-link;
	.button-blue, .button-white {
	height: 40px;
	width: 70px;
	margin-top: 40px;
	@include border-radius(25px);
	line-height: 2.5;
	cursor: pointer;
	color: white;
	@include transition(background, color .3s);
	}
	.button-blue {
		border: 1px solid $blue;
		background: $offwhite;
		color: $blue;
		&:hover {
			background: $blue;
			color: $offwhite;
		}
	}
	.button-white {
		background: $blue;
		color: $offwhite;
		border: 1px solid $offwhite;
		width: 120px;
		&:hover {
			background: $offwhite;
			color: $blue;
		}
	}
}