a {
	@include unstyled-link;
	.button {
	height: 40px;
	width: 70px;
	margin-top: 40px;
	background: $blue;
	border-radius: 25px;
	line-height: 2.5;
	cursor: pointer;
	color: white;
	@include transition(background, color .3s);
	}
}