.gallery {
    overflow: hidden;
    img {
        width: 100%;
        @include opacity(1);
        @include transition(opacity .3s);
    &:hover {
        @include opacity(.2);
    }
    }
}

.magglass {
    height: 100px;
    width: 100px;
    position: absolute;
    background: grey;
}

#gallery-l {
    float: left;
    width: 100w%;
    height: auto;
    overflow: hidden;
    text-align: center;
    font-size: 0;
    img {
        padding: 0 5px 5px 0;
    }
}

#gallery-r {
    float: left;
    width: 100w%;
    height: auto;
    overflow: hidden;
    text-align: center;
    font-size: 0;
    img {
        padding: 0 0 5px 5px;
    }
}

@media (min-width: 800px) {
    #gallery-l, #gallery-r {
        width: 50%;
    }
}

@media (min-width: 800px) {
    .gallery {
        width: 800px;
    }
}