* {
	box-sizing: border-box;
}

section {
	text-align: center;
	h1 {
		margin-bottom: 40px;
		font-size: 32px;
		font-weight: 700;
		color: $offwhite;
	}
}

.section-padding {
	padding: 120px 20px;
}

.align-center {
	width: 100%;
	margin: 0 auto;
}

.margin-top {
	margin-top: 40px;
}

.whatimabout {
	width: 100px;
	i {
		padding: 5px;
		font-size: 30px;
	}
	p {
		padding-top: 20px;
		font-size: 20px;
	}
}

.web, .design {
	padding: 10px 0;
	@include border-radius(25px);
	@include transition(all .3s);
	&:hover {
		color: $offwhite;
		background: $blue;
	}
}

.design {
	margin-top: 40px;
}

@media (min-width: 480px) {
	.whatimabout {
		height: 70px;
		width: 320px;
		padding-top: 40px;
	}
	.web, .design {
		width: 50%;
		float: left;
		padding: 10px;
	}
	.design {
		margin-top: 0;
	}
}