.project-padding {
	padding: 120px 20px 0 20px;
}

.projectitem {
	width: 100%;
	max-width: 1000px;
	height: auto;
}

.projectitem-information {
	max-width: 1000px;
	overflow: hidden;
}

.projectitem-description {
	padding-bottom: 40px;
}

@media (min-width: 600px) {
	.projectitem-description {
		padding-bottom: 0;
	}
}
