body {
	font-family: 'Merriweather', serif;
	font-weight: 300;
	color: $black;
}

h2 {
	max-width: 373px !important;
	margin: 0 auto;
	line-height: 2.5;
	font-size: 16px;
}

h3 {
	font-size: 20px;
	font-weight: 700;
}

.link {
	@include unstyled-link;
	padding: 7px;
	@include border-radius(25px);
	background: white;
	color: $blue;
	font-weight: 700;
}

.cursive {
	font-family: 'Lobster', cursive;
	font-size: 20px;
}

.console {
	font-family: courier;
	font-size: 20px;
}