body {
	font-family: 'Merriweather', serif;
	font-weight: 300;
	color: $black;
}

h2 {
	max-width: 400px !important;
	margin: 0 auto;
	line-height: 2.2;
	font-size: 17px;
}

.link {
	@include unstyled-link;
	padding: 7px;
	border-radius: 25px;
	background: white;
	color: $orange;
	font-weight: 700;
}

.cursive {
	font-family: 'Lobster', cursive;
	font-size: 20px;
}

.console {
	font-family: courier;
	font-size: 20px;
}